{
  "presets": [
    ["@babel/env", {
      "targets": {
        "chrome": "93",
        "firefox": "93",
        "edge": "93",
        "safari": "14"
      },
      "modules": "cjs"
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties"
  ]
}
