{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "ignorePatterns": ["*.lock", ".*"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@stylistic", "@typescript-eslint"],
  "root": true,
  "rules": {
    "@stylistic/padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "never", "prev": "case", "next": "*" },
      { "blankLine": "never", "prev": "*", "next": "case" },
      { "blankLine": "always", "prev": "function", "next": "*" },
      { "blankLine": "always", "prev": "import", "next": "*" },
      { "blankLine": "any", "prev": "import", "next": "import" }
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": [0, { "args": "after-used", "caughtErrors": "none" }],
    "@typescript-eslint/ban-ts-comment": 0,
    "prefer-const": [0, { "destructuring": "all" }],
    "no-console": "error",
    "no-sparse-arrays": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es2023": true
  }
}
